@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* { margin:0}

section{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15vh 45vh 29vh; 
}

#carrinhodecompras{
    color:#7E4F18;
    margin-left: 10%;
    grid-row: 1;
    grid-column: 1;
    margin-top: 5%;
    
}

h1{
    font-family: Playfair Display;
    font-size: 25px;
    letter-spacing:2px;
    font-weight: lighter;
}

h2{
    font-family: Tinos; 
    font-size: 12px;
    font-weight: lighter;
    margin-top: 1%;
}

#fundo{
    background-color:#ffffff79;
    border-radius: 7px;
    width: 86%;
    height: 80%;
    grid-row: 2;
    grid-column: 1;
    margin-top: 5%;
    margin-left: 10%;
}
#produto{
    grid-row: 2;
    grid-column: 1;
    margin-left: 15%;
    margin-top: 2%;
    display: flex;
    align-items: flex-start;
    gap:20px;
}
img{
    width: auto;
    height: 75%;
    margin-top: 5%;
}
.informacoes{
    margin-top: 5%;
}
.informacoes h1{
    color: #7E4F18;
    font-size: 16px;
    font-family: Playfair Display;
    font-weight: bold; 
 
}

.informacoes h2{
    color: #7E4F18;
    font-size: 13px;
    font-family: Playfair Display;
}
.informacoes h3{
    color: #7E4F18;
    font-size: 15px;
    font-family: Playfair Display;
    font-weight: bold; 
    margin-top: 34%;
}
/* Container dos botões de quantidade - achei ele */
.quantidade-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 39% ;
    grid-row: 2;
    grid-column: 1;
   
  }
  
  /* Botões + e - */
  .btn-quantidade {
    background-color: #E8DECD;
    border: 2px solid #7E4F18;
    color: #7E4F18;
    font-family: 'Tinos', serif;
    font-size: 1.2rem;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 35px;
    height: 35px;
  }
  
  /* Hover dos botões */
  .btn-quantidade:hover {
    background-color: #7E4F18;
    color: white;
  }
  
  /* Número da quantidade */
  .quantidade {
    font-family: 'Tinos', serif;
    font-size: 1.1rem;
    color: #7E4F18;
    min-width: 20px;
    text-align: center;
  }
  
  
  #fundo2{
    background-color:#ffffff79;
    border-radius: 7px;
    width: 86%;
    height: 80%;
    grid-row: 2;
    grid-column: 2;
    margin-top: 7%;
    margin-left: 5%;
   
}
#frete{
    grid-row: 2;
    grid-column: 1;

}
#info2 h1{
    position: relative;
    top: -5px;
     border-bottom: 2.5px #7E4F18 solid;
     margin-top: 15px;
     margin-left:15px;
     padding: 5px;
     font-size: 20x;

}
#info2 h3{
 color: #E8DECD;
}
#info2 button{
    position: relative;
   top: 30px;
    left: 35%;
    width: 150px;
    height: 35px;
    font-size: 20px;
}

#bbb{
    position: absolute;
    left: 6%;
    bottom: 6%;
    width: 40%;

}
#bbb p{
     color: #7E4F18;
    font-size: 20px;
    font-family: Playfair Display;
    font-weight: bold; 
 
}
button{
     top: 50px;
    left: 35%;
    width: 150px;
    height: 35px;
    font-size: 20px;
}
input{
    border:3px #7E4F18 solid;
    margin: 10px;
    margin-left: 0;
    width: 250px;
    height: 30px;
    border-radius: 0%;
}


  @media (max-width: 950px) {

  section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  #fundo,
  #fundo2 {
    grid-column: 1;
  }
  
  #fundo2 {
    padding: 15px;
    top: 350px;
    position: absolute;
    left: 38px;
    height: 400px;
  }
  #fundo2 button {
            left: 74%;
        top: 180px;      
  }
  #bbb{    left: 5%;
    bottom: 10%;
    width: 80%;}

  #produto img {
    width: 130px;
  }

  .quantidade-container {
    margin-left: 0;
    left: 314px;
        position: relative;
            width: 111px;
  }
}

/* Celulares grandes */
@media (max-width: 768px) {
    section{
        height: 200vh;
    }

  .quantidade-container {
          top: -252px;
        justify-content: center;
        left: 319px;
        width: 120px;
    }
     #bbb{    left: 10%;
        bottom: 12%;
    width: 80%;}

  #carrinhodecompras{
       top: 22px;
    position: absolute;}

#fundo{
     top: -200px;
    position: absolute;
     height: 286px;
}
 #fundo2{
    left:16px;
    top: 105px;
    height: 550px;
  }
  #fundo2 button{
    left: 35px;
  }


#produto{
        top: -173px;
        position: relative;
    
}
  #produto img {
    width: 144px;
    height: auto;
  }

  .informacoes h3 {
    margin-top: 10px;
  }
}

/* Celulares pequenos */
@media (max-width: 480px) {

  #produto img {
    width: 150px;
  }

#fundo{
    top: -200px;
    position: absolute;
    height: 286px;}
  
 
  #info2 button {
    width: 140px;
    height: 36px;
    font-size: 14px;
            top: 276px; left: 58px;
  }

  input {
    max-width: 230px;
  }
}
