*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tinos', 'Playfair Display';
   
}
/*section{
    background-size: cover; 
    width: 100%;
    height: 100vh;
    background-color: #ffffff ;
    background-size: cover;
    background-position: center;
    position: relative;*/
 
iframe {
  width: 100%;
  height: calc(100vh - 13vh); /* ocupa o resto da tela */
  position: absolute;
  top: 13vh; /* começa depois do header + menu */
  left: 0;
  border: none;
  z-index: 1; /* fica atrás do header e do menu */
}

/*////////////////////CABEÇALHO/////////////////////*/
header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 6vh;
  background-image: linear-gradient(to right, #391300, #966c2ef9, #391300);
  position: fixed;
  top: 0;
  width: 100%;
  color: #e6b345;
  z-index: 10;
}
.cabecalho {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* esquerda, centro, direita */
  align-items: center;
  width: 100%;
}


/*////////////LOGO//////////////*/
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: start;
  text-decoration: none;
}

.logo > img {
  width: 40px;
  height: 40px;
}

.logo > #lumi {
  font-size: 43px;
  font-weight: bold;
  color: #e6b345;
  text-decoration: none;
}

/*/////barra de pesq./////*/ 
.container-input {
  position: relative;
  justify-self: center;
}

.pesquisa {
  width: 250px;
  padding: 10px 40px 10px 10px;
  border: solid 1px #551e1e;
  border-radius: 13px;
  transition: all .2s ease-in-out;
  outline: none;
  font-size: 17px;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; 
}

.pesquisa:focus {
  opacity: 1;
  width: 450px;
  background: #fdf8e3;
  border: 1px solid #ba6e05;
  border-radius: 10px;
}
.bt-pesquisa {
  position: absolute;
    top: 1px;
    right: 0px;
    width: 38px;
    height: 40px;
    border: solid 1px #00000080;
    background: #e6b34585;
    border-radius: 9px;
    cursor: pointer;
}


/*/////////LOGIN/////////*/
#login {
  text-decoration: none;
  color: #e6b345;
  font-size: 20px;
  font-weight: bold;
   justify-self: end;
}
/*///////////////////// MENU //////////////////////*/
.menu{
   position: fixed;
   top: 6vh;
    width: 100%;
    height: 5vh;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #e8decd;
    justify-content: space-around;
    animation: 3s ease-in-out;
}
.menu>a{ 
    text-decoration: none;
    color: #7e4f18;
    font-size: 25px;
    font-weight: bold;
}
.menu>a:hover{
 width: 150px;
  height: 7vh;
  color: #bd8305;;
  background: #e8decdaa;
  transition: width 3.5s;
  display: flex;
  align-items: center;
  justify-content: space-around;;
  border: 1px solid #7e4f18;
  z-index: 10;
}
.menu>a:active{
  background: #523503;
  color: white;
  font-size: 28px;
  transition: all 0.3s;
}
/* From Uiverse.io by KlaujonRuamni */ 
button {
  width: auto;
  height: 60px;
  border: 3px solid #ecac3d;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: #cda35b;
  font-size: 1.2em;
  font-weight: 550;
  padding: 1px 15px;
}

button:hover {
  background: #523503;
  color: white;
  font-size: 1.5em;
}

/*///////////////////// RODAPÉ //////////////////////*/
.rodape {
  position: absolute;
  bottom: 0vh;
  width: 100%;
  height: 3vh;
  background-image: linear-gradient(to right, #391300, #442c08f9, #391300);
  color: #e6b345;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*///////////////////// PG_PLANOS //////////////////////*/
section{
    background-image: url(lumi.png);
    background-size: cover; 
    width: 100%;
    height: 100vh;
     background-size: cover;
    background-position: center;
    position: fixed;
}
#titulo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vh;
    color: #f7f1e7;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.planos{
  position: relative;
  top: 20vh;
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 30px;               
  flex-wrap: wrap;         
  padding: 20px;
  

}
.plano{
  height: 450px;
    top: 20px;
    background-color: #e8decde3;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    position: relative;
    margin: 35px;
    flex-wrap: nowrap;
    color: #372a28;
    font-family: 'playfair display', serif;
    
}
