/*//////////////////// NOTÍCIAS //////////////////////*/
#noticias-todas {
  display: grid;
    grid-template-rows: 1fr 2fr 1fr ;
    grid-template-columns: 1fr 1fr;
  grid-template-areas: "baner baner "
                   " not-prin not-prin"
                    "not-sec1 not-sec2";
  align-items: center;
    justify-items: center;
  height: 100vh;
  gap: 0px;
}

/*//////// BANER //////////*/
.baner{
    grid-area: baner;
    text-align: center;
    font-family: 'playfair display';
    color: #e8decd;
}
.baner>H1{
    position: relative;
    z-index: 2;
    font-weight: lighter;
    font-size: 25px;
    margin-top: -6px;
}
#banner{
    position: absolute;
    width: 100%;
    height: auto;
    top: -8vh;
    left: 0vh;
    opacity: 0.8;
    z-index: 1;
}

/*////////// SEÇÕES DE NOTÍCIAS /////////////*/
.noticias{
    display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns:  1fr 1fr 2fr 0.2fr;
    align-items: center;
    justify-items: left;
    padding: 2px;
    height: 100%;
    gap: 0px;
}
.noticias img{
    grid-row: 1/3;
  width: 95%;
  height: 95%;
  border-radius: 5px;
  margin: 5px;
  justify-self: center;
}
.noticias h1,h2{
    text-align: left;
    margin: 5px;
    margin-top: -10px;
    margin-bottom: -10px;
    letter-spacing: 1px;
}
.noticias h2{
    font-size: 19px;
    font-weight: lighter;
    grid-row: 2;
    bottom: 30px;
    position: relative;
    color: #7e4f18;
}
.noticias h1{
    font-size: 20px;
    grid-row: 1;
    top: 1px;
    position: relative;
    font-family: 'playfair display';
    color: #462c0d; 
}

/*//// NOTÍCIA PRINCIPAL ///*/
#noticia-princ{
    display: grid;
        grid-template-rows: 1fr 1fr 0.5fr;
        grid-template-columns: 0.3fr 2fr 1fr 0.1fr ;
    grid-area: not-prin;
    background-color: #7e4e184b;
    height: 100%;
    letter-spacing: 3px;
}
#noticia-princ h1{
    grid-column: 2;
    font-size: 30px;
    line-height: 45px;
}
#noticia-princ h2{
    grid-column: 2;
    font-size: 22px;
    font-weight: lighter;
    padding: 5px;
    line-height: 30px;
}
#noticia-princ img{
    grid-column:3;
    grid-row: 1/4;
    height: 97%;
}
#bt-not-princ{
    grid-column: 2;
    grid-row: 3;
    width: 150px;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
    align-self: start;
    position: relative;
    bottom: 35px;
}
strong{
    font-weight: bolder;
    font-family: 'playfair display';
    font-size: 31.5px;
}


/*//// NOTÍCIAS sec. ///*/ 

#not-sec1{
    grid-area: not-sec1;
}
#not-sec1 h1,h2{
    grid-column: 3;
}
#not-sec1 h2{
    bottom: 50px;
}
#not-sec1 img{
    grid-column: 1/3;
}
#not-sec1 p{
    grid-column: 3;
    font-size: 14px;
    color: #7e4f18;
    font-weight: lighter;
    position: relative;
    bottom: 40px;
}

#not-sec2 {
    grid-area: not-sec2;
}
#not-sec2 h1,h2{
    grid-column: 3;
}
#not-sec2 h2{
    bottom: 55px;
}
#not-sec2 img{
    grid-column: 1/3;
}
#not-sec2 p{
    grid-column: 3;
    font-size: 14px;
    color: #7e4f18;
    font-weight: lighter;
    position: relative;
    bottom: 45px;
}
@media (max-width: 1000px) {

  #noticias-todas {
    grid-template-columns: 1fr 1fr;
  }

      .baner {
        height: 142px;
        top: 35px;
        position: relative;
    }

  #banner {
    height: 160px;
  }

      .baner > h1 {
        font-size: 32px;
        top: 29px;
    }


  #noticia-princ {
    grid-template-columns: 1.3fr 0.8fr;
    padding: 30px;
    height: 315px;
  }
strong{font-size: 23px;}
  #noticia-princ h1 {
    font-size: 20px;
    line-height: 42px;
    width: 320px;
  }

  #noticia-princ h2 {
            font-size: 16px;
        width: 320px;
        top: 5px;
    
  }
  #not-sec1 img, #not-sec2 img {
    height: auto;
    width: 95%;
    margin-top: 10px;
  }
  button{
    margin-top: 50px;
  }
   #not-sec1 h1, #not-sec2 h1 {
    font-size: 11px;
    line-height: 22px;
    width: 174px;
  }

  #not-sec1 h2, #not-sec2 h2 {
        font-size: 10px;
        width: 174px;
        top: 0px;
  }
  #not-sec1 p, #not-sec2 p {
    font-size: 12px;
    bottom: 11px;
  }
  .rodape{
    top: 100%;
  }

}

/* Celulares pequenos */
@media (max-width: 500px) {

  /* Layout principal em 1 coluna */
  #noticias-todas {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "baner"
      "not-prin"
      "not-sec1"
      "not-sec2";
    gap: 20px;
  }
.baner{
    height: 120px;
}
  /* Banner */
  .baner > h1 {
    font-size: 19px;
    left: -26px;
  }

  /* Notícia principal */
  #noticia-princ {
    grid-template-columns: 1fr; /* imagem fica abaixo automaticamente */
    padding: 15px;
    grid-template-columns: 1.3fr 0.8fr;
    height: 315px;
  }
strong{font-size: 23px;}
#noticia-princ img{
    width: 0px;
    height: 0px;
}
  #noticia-princ h1 {
    font-size: 20px;
    line-height: 42px;
    width: 320px;
  }

  #noticia-princ h2 {
            font-size: 16px;
        width: 320px;
        top: 5px;
    
  }
  #not-sec1 img, #not-sec2 img {
    height: auto;
    width: 70%;
    margin-top: 10px;
  }
  button{
    margin-top: 50px;
  }
   #not-sec1 h1, #not-sec2 h1 {
    font-size: 11px;
    line-height: 22px;
    width: 174px;
  }

  #not-sec1 h2, #not-sec2 h2 {
        font-size: 10px;
        width: 174px;
        top: 0px;
  }
  #not-sec1 p, #not-sec2 p {
    font-size: 12px;
    bottom: 0px;
  }
  .rodape{
    top: 125%;
  }}
