section{
  background-image: url("4610a1f1-03f0-4890-be1a-de5c7fc20266.png");/* imagem de fundo*/
    background-size: cover; 
    background-position: center;
    position: fixed;
}

 #titulo_everse{ /*parte do título*/
    position: absolute;
    top: 125px;
    left: 5%;
    z-index: 1;
    color: #C89B3C;
    letter-spacing: 7px; /*espaçamento entre as letras*/
    font-size: 44px;
    font-family: "Tinos";
    font-weight: 100; /*deixa a letra mais fina*/
    width: 900px;
}
.texto{ /* parte do texto*/
    position: absolute;
    top: 250px;
    left: 5%;
    z-index: 1;
    color: rgb(236, 233, 233);
    font-family: "Tinos";
    opacity: 0,8;
    font-size: 26px;
    width: 900px;
    line-height: 40px;
}

.botao { /*o botão*/
    background-color:#7E4F18;   /* cor de fundo*/
    color: #C89B3C;  /* cor do texto */
    border: 1px solid black;
    border-radius: 20px;/* arredonda os cantos*/
    padding: 8px 28px;  /* "8" é espaço em cima e em baixo/ "28" é o espaço na direita e esquerda */
    font-size: 20px; /* tamanho da fonte*/
    font-family: "Playfair Display"; /* nossa fonte */
    cursor: pointer; /* muda o curso do mouse para uma setinha*/
    z-index: 2; /* trazer o botão para frente*/
    position: absolute;
    top:450px; /* colocar o botão embaixo do texto*/
    left: 5%; /* distância da esquerda*/
    letter-spacing: 2px; /* espaço entre as palavras*/
    
  }
  .cont{
    position: absolute;
    left: 5%;
    z-index: 3;
    height: 100px;
    width: 200px;
  }
  
  /* Efeito ao passar o mouse */
  .botao:hover {
    background-color: #C89B3C;  /* muda para dourado mais claro */
    color: #000; /* texto preto */
  }
  
/* ----- Tablets até 992px ----- */
@media (max-width: 992px) {

  #titulo_everse {
    font-size: 20px;
    max-width: 700px;
    top: 96px;
  }

  .texto {
    font-size: 22px;
    line-height: 34px;
    max-width: 700px;
  }

  .botao {
    font-size: 18px;
    padding: 8px 24px;
  }
}

/* ----- Celulares grandes até 768px ----- */
@media (max-width: 768px) {

  #titulo_everse {
    font-size: 30px;
    letter-spacing: 5px;
  }

  .texto {
        font-size: 19px;
        line-height: 28px;
        width: 60vh;
        top: 180px;}

  .botao {
    font-size: 17px;
    padding: 6px 20px;
    width: 270px;
  }
}

/* ----- Celulares pequenos até 480px ----- */
@media (max-width: 480px) {

  #titulo_everse {
    font-size: 20px;
    letter-spacing: 3px;
  }
 .texto {
        font-size: 16px;
        line-height: 25px;
        width: 46vh;
        top: 180px;}}
