  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Tinos&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tinos', 'Playfair Display';
   
}
body {
    background-color: #e8decd;
}
body::-webkit-scrollbar {
  width: 8px;               /* largura do scrollbar */
 }

body::-webkit-scrollbar-track {
  background:#391300e7;     /* cor do tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #e7c8897e;    /* cor da barra do scroll */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1.5px solid rgba(91, 61, 5, 0.49);  /* creates padding around scroll thumb */
}
  body::-webkit-scrollbar-track:hover {
  background:#391300;     /* cor do tracking area */
}

  body::-webkit-scrollbar-thumb:hover {
  background-color: #e7c889f1;    /* cor da barra do scroll */
  }

section{
    background-size: cover; 
    width: 100%;
    height: 100vh;
    background-color: #e8decd ;
    background-size: cover;
    background-position: center;
    position: relative;}
 
iframe {
  width: 100%;
  height: calc(100vh - 10.5vh); /* ocupa o resto da tela */
  position: absolute;
  top: 10.4vh; /* começa depois do header + menu */
  left: 0;
  border: none;
  z-index: 1; /* fica atrás do header e do menu */
}

/*////////////////////CABEÇALHO/////////////////////*/
header {
  display: flex;
  align-items: center;
  height: 45px;
  background-image: linear-gradient(to right, #391300, #966c2e, #391300);
  position: fixed;
  top: 0;
  width: 100%;
  color: #e6b345;
  z-index: 10;
}
.cabecalho {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* esquerda, centro, direita */
  grid-template-areas: "logo pesquisa icons";
  align-items: center;
  width: 100%;
   padding: 0 20px;
}
.icons{
  grid-area: icons;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: end;
}
 /* --- Botão menu mobile --- */
#bt-menu {
  display: none;
  background: none;
  border: none;
  
}

/*////////////LOGO//////////////*/
.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: start;
  text-decoration: none;
}

.logo > img {
  width: auto;
  height: 34px;
}

.logo > #lumi {
    font-size: 38px;
    font-weight: lighter;
    color: #e6b345;
    text-decoration: none;
    position: relative;
}
#menuicon{
  display: none;
}


/*//////barra de pesq.//////*/ 
.container-input {
  grid-area: pesquisa;
  position: relative;
  justify-self: center;
  width: 100%;
  max-width: 500px; /* limite para desktop grande */
  min-width: 180px;
}

.pesquisa {
  width: 95%;
  height: 38px;
  padding: 8px 42px 8px 12px;
  border: 1px solid #551e1e;
  border-radius: 13px;
  transition: all 0.25s ease-in-out;
  outline: none;
  font-size: 17px;
  opacity: 0.85;
  background-color: #fffef9;
}

.container-input img {
  width: 20px;
  height: auto;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
}

.pesquisa:focus {
  opacity: 1;
  background: #fdf8e3;
  border-color: #ba6e05;
  box-shadow: 0 0 4px #c2953a80;
}

.bt-pesquisa {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  border: none;
  background: #e5c688;
  border: 1px solid #551e1e;
  border-radius: 0 13px 13px 0;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
    
.pesquisa:focus + .bt-pesquisa {
  background-color: #e6b345;
  border-color: #ba6e05;
  border-radius: 1px 10px 10px 1px;
}


/*/////////LOGIN/////////*/
.actionbutton {
  grid-area: icons;
  gap: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
   width: 37px;
    height: 37px;
    border-radius: 13px;
    background-color: #c89b3c;
    border: solid 1.5px #e5c688;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    justify-self: end;
    flex-direction: column;
}

.iconbt {
  width: 28px;
  transition-duration: 0.3s;
}

.actionbutton:hover {
  width: 100px;
  border-radius: 50px;
  transition-duration: 0.5s;
  align-items: center;
}

.actionbutton:hover #icon-user {
  position: absolute;
  left: 15px;
  transition-duration: 1s;
  transform: translateX(-30%);
}

.actionbutton::before {
  position: absolute;
  bottom: -20px;
  right: 15px;
  content: "LOGIN";
  color: white;
  font-size: 0px;
}

.actionbutton:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.5s;
}
#carrinho::before {
  position: absolute;
  bottom: -20px;
  right: 15px;
  content: "LOGIN";
  color: white;
  font-size: 0px;
}

/*///////////////////// MENU //////////////////////*/
.menu{
  position: fixed;
  top: 6vh;
  width: 100%;
  height: 4.5vh;
  left: 0;
  padding: 5px;
  border: 1px solid #7e4e1881;
  background-color: #e8decd;
  animation: 0.5s ease-in-out;
  z-index: 5;
  display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
  justify-content: space-around;
  align-items: center; 
  align-content: center;
  justify-items: center; 
}
.menu>a{ 
    text-decoration: none;
    color: #7e4f18;
    font-size: 20px;
    font-weight: lighter;
}
.menu>a:hover{
 width: 203px;
  height: 5vh;
  color: #bd8305;;
  background: #efeae1dc;
  transition: width 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-around;;
  border: 1px solid #7e4f18;
  z-index: 10;
}
.menu>a:active{
  background: #523503;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}
/* From Uiverse.io by KlaujonRuamni */ 
button {
  width: 50vh;
  height: 50px;
  border: 3px solid #ecac3d;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  color: #e6b345;
  background: #7e4f18;
  font-size: 1.2em;
  font-weight: 550;
  padding: 1px 15px;
}

button:hover {
  background: #cda35b;
  color: #391300;
  font-size: 1.5em;
}

/*///////////////////// RODAPÉ //////////////////////*/
.rodape {
  position: absolute;
    width: 100%;
    background-image: linear-gradient(to right, #391300, #442c08f9, #391300);
    color: #e6b345;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*////////////////////// MEDIAS ///////////////////////*/
/* --- tablet --- */
@media (max-width: 950px) {

  header{
    height: 50px;
  }
  .cabecalho {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "logo pesquisa  icons";
    gap: 8px;
  }

   .container-input {
    max-width: 380px;
  }
  .pesquisa {
    height: 34px;
    font-size: 16px;
  }
  .bt-pesquisa {
    width: 34px;
    height: 34px;
  }
  .container-input img {
    width: 18px;
    right: 10px;
  }

  .icons {
    gap: 6px;
  }

  .logo > #lumi {
    font-size: 26px;
  }

  .logo > img {
    height: 26px;
  }
  .actionbutton{
  width: 33px;
  height: 33px;
  border-radius: 10px;
 }
 .iconbt{
  height: 24px;
  width: auto;
 }
}


/* --- celular --- */
@media (max-width: 650px) {
  iframe{
    height: calc(100vh - 5vh);
    top: 5vh;
  }
  body::-webkit-scrollbar {
  width: 3.5px;               /* largura do scrollbar */
 }

  header{
    height: 45px;
  }
  .cabecalho {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo pesquisa icons";
  }

  .container-input {
    max-width: 280px;
  }
  .pesquisa {
    height: 32px;
    font-size: 15px;
    padding-right: 38px;
  }
  .bt-pesquisa {
    width: 32px;
    height: 30px;
    right: 2px;
  }
  .container-input img {
    width: 16px;
  }

  /* Menu escondido por padrão */
  .menu {
    display: none;
    flex-direction: column;
    width: 50%;
    height: auto;
    top: 6vh;
    position: absolute;
    left: 0;
    z-index: 9;
  }
  .menu.show {
    display: flex;
  }
  .menu > a {
    padding: 12px 20px;
    font-size: 18px;
    border-bottom: 1px solid #7e4f18;
    width: 100%;
    text-align: center;
  }
  #bt-menu {
  display: flex;
    align-items: center;
    justify-content: center;
  color: #c89b3c;
  font-size: 28px;
  cursor: pointer;
  z-index: 20;
  width: fit-content;
  padding: 0px 5px 0px 0px;
  position: relative;
  grid-area: logo;
  height: 30px;
  bottom: 1px;
  right: 6px;
  }

  .logo > #lumi {
    display: none;
  }
  .logo > img {
    height: 30px;
    margin-left: 10px;
    left: 20px;
    position: relative;
  }
}

/*cel p*/
@media (max-width: 480px) {
 .container-input {
    max-width: 220px;
  }
  .pesquisa {
   height: 30px;
   font-size: 14px;
   padding-right: 36px;
   position: relative;
   left: 23px;
  }
  .bt-pesquisa {
    width: 29px;
    height: 30px;
  }
  .container-input img {
    width: 15px;
    right: 10px;
  }
}