  ul{
    list-style: none;
  }

h2,h3{
     color: #391300;
      font-family: 'playfair display';
}

/* Banner */
.banner {
  position: relative;
  text-align: center;
  height: 60px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  opacity: 0.8;
  
}

.banner h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e8decd;
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  width: 90%;
  z-index: 2;
}

/* Layout principal */
.layout {
  display: grid;
  grid-template-columns: 1.2fr 2.2fr 1.3fr;
  gap: 20px;
  padding: 10px 50px;
  height: 92.2%;
}

/* Coluna Esquerda */
.barra-esq h2, .barra-esq h3 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
  color: #4b2c07;
}

.barra-esq ul {
  list-style: none;
  margin-bottom: 15px;
}

.barra-esq a {
  text-decoration: none;
  color: #7e4f18;
  display: block;
  margin: 4px 0;
}

.barra-esq a:hover {
  color: #bd8305;
}

.perfil {
  display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  gap: 15px;
  text-align: center;
  margin-top: 15px;
  padding: 20px;
  background-color: #3a2b1640;
  border-radius: 15px;
}

.perfil img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.perfil p {
  margin: 5px ;
  font-weight: bold;
  font-size: 20px;
  color: #7e4f18;
}


/* Coluna Central */
.conteudo {
  background: #d9c4ab;
  padding: 15px 20px;
  border-radius: 10px;
}

.resenha {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;
}

.resenha img {
  width: 110px;
  height: 150px;
  border-radius: 4px;
}

.resenha h3 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  margin-bottom: 5px;
}

.resenha p {
  font-size: 14px;
  color: #3a2b16;
}

.likes {
  color: #7e4f18;
  margin-top: 15px;
}
.resenhas-cont{
      gap: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
/* Coluna Direita */
.barra-dir {
  background-color: #f3e7d3;
  padding: 15px;
  border-radius: 10px;
}

.barra-dir h2, .barra-dir h3 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
}

.destaque{
  background-color: #3a2b1640;
    border-radius: 15px;

}
.destaque img {
  width: 200px;
  height: 251px;
  border-radius: 10px;
  margin: 10px 70px;

}

.destaque h4 {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: #391300;
  margin:0px 13px;
}

.destaque p {
  font-size: 14px;
  color: #5b4a2c;
  margin:3px 15px;
}

.em-alta{
  margin-top: 30px;
}

.barra-dir a {
  color: #7e4f18;
  text-decoration: none;
}

.barra-dir a:hover {
  color: #bd8305;
}

/* Responsividade */
@media (max-width: 950px) {
  .layout {
    grid-template-columns: 1fr;
  }
  .barra-esq, .barra-dir {
    order: 2;
  }
  .conteudo {
    order: 1;
  }
}
