@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* { margin:0}

section{
  width: 100%;
  height: 100vh;
  background-color: #E8DECD;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 11vh 6vh 40vh 10vh 30vh;
}
#img_um{
  grid-row: 3/4;
  grid-column: 1;
  
}
.fundo{
  width: 100%;
  height: 100%;
}

#img_dois{
  grid-row: 3/4;
  grid-column: 2;
}

#img_tres{
  grid-row: 3/4;
  grid-column: 3;
}  

#resultado{
    color: #7e4f18;
    font-family: Tinos;
    font-size: 9px;
    grid-row: 4;
    grid-column: 1;
    margin-top: 5%;
    margin-left: 5%;
}

.filter-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 18px;
    grid-column: 3;
    grid-row: 4;
    margin-top: 5%;
    margin-right: 10%;
  }
  
  .filter-bar select {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #c89b3c;
    color: #392004c8;
    font-weight: bold;
    font-family: Tinos;
    
  }
  .filter-bar option{
    background-color: #ffffff;
    color: #392004c8;
  } 
  #BOTAO{
    color: #392004c8;
  }

  img{
    display: flex;
    height: 100%;
    width: 50%;
    justify-self: center;
    margin: 3px;
    margin-top: 4%;
  }

  #img_quatro{
    grid-column: 1;
    grid-row: 5/6;
  }

   #img_cinco{
    grid-column: 2;
    grid-row: 5/6;
  }

   #img_seis{
    grid-column: 3;
    grid-row: 5/6;
  }

 #sombra{
  background-color: #7e4e1882;
  grid-column: 1/4;
  grid-row: 3/7;
  margin-top: 1%;
}

@media (max-width: 480px) {
#resultado{
  font-size: 7px;
  margin-top: 8%;
}

 .filter-bar select{
   height: 27px;
}

 img{
    
    width: 90%;
  }


section{
  grid-template-columns: 33% 33% 34%;
  
}

}
@media  (max-height:481px) and (max-width: 950px) and (min-width:481px) {


  .filter-bar select{
   height: 27px;

}


}
