  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Tinos&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tinos', 'Playfair Display';
   
}
body {
    background-color: #e8decd;
}
body::-webkit-scrollbar {
  width: 10px;               /* largura do scrollbar */
 }

body::-webkit-scrollbar-track {
  background:#391300;     /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #e7c889;    /* cor da barra do scroll */
  width: 10px;
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1.5px solid rgba(91, 61, 5, 0.49);  /* creates padding around scroll thumb */
}

section{
    background-size: cover; 
    width: 100%;
    height: 100vh;
    background-color: #e8decd ;
    background-size: cover;
    background-position: center;
    position: relative;}
 
iframe {
  width: 100%;
  height: calc(100vh - 10.5vh); /* ocupa o resto da tela */
  position: absolute;
  top: 10.4vh; /* começa depois do header + menu */
  left: 0;
  border: none;
  z-index: 1; /* fica atrás do header e do menu */
}

/*////////////////////CABEÇALHO/////////////////////*/
header {
  display: flex;
  align-items: center;
  height: 6vh;
  background-image: linear-gradient(to right, #391300, #966c2e, #391300);
  position: fixed;
  top: 0;
  width: 100%;
  color: #e6b345;
  z-index: 10;
}
.cabecalho {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* esquerda, centro, direita */
  grid-template-areas: "logo pesquisa icons";
  align-items: center;
  width: 100%;
   padding: 0 20px;
}
.icons{
  grid-area: icons;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: end;
}
/*////////////LOGO//////////////*/
.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: start;
  text-decoration: none;
}

.logo > img {
  width: auto;
  height: 37px;
}

.logo > #lumi {
    font-size: 43px;
    font-weight: lighter;
    color: #e6b345;
    text-decoration: none;
    position: relative;
}

/*/////barra de pesq./////*/ 
.container-input {
  grid-area: pesquisa;
  position: relative;
  justify-self: center;
}

.pesquisa {
  width: 300px;
  height: 38px;  
  padding: 10px 40px 10px 10px;
  border: solid 1px #551e1e;
  border-radius: 13px;
  transition: all .2s ease-in-out;
  outline: none;
  font-size: 17px;
  opacity: 0.8;
}

.container-input img {
  position: absolute;
  width: 25px;
  height: auto;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  pointer-events: none; 
}

.pesquisa:focus {
  opacity: 1;
  width: 550px;
  background: #fdf8e3;
  border: 1px solid #ba6e05;
  border-radius: 10px;
}
.bt-pesquisa {
  position: absolute;
    top: 0px;
    right: 0px;
    width: 38px;
    height: 38px;
    border: solid 1px #00000080;
    background: #e6b34585;
    border-radius: 1px 13px 13px 1px;
    cursor: pointer;
  }
.pesquisa:focus + .bt-pesquisa {
  background-color: #e6b345;
  border-radius: 1px 10px 10px 1px;
}
/*/////////LOGIN/////////*/
.actionbutton {
  grid-area: icons;
  gap: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
   width: 38px;
    height: 38px;
    border-radius: 13px;
    background-color: #bd8305;
    border: solid 2px #cda35b;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    justify-self: end;
    flex-direction: column;
}

.iconbt {
  width: 28px;
  transition-duration: 0.3s;
}

.actionbutton:hover {
  width: 100px;
  border-radius: 50px;
  transition-duration: 0.5s;
  align-items: center;
}

.actionbutton:hover #icon-user {
  position: absolute;
  left: 15px;
  transition-duration: 1s;
  transform: translateX(-30%);
}

.actionbutton::before {
  position: absolute;
  bottom: -20px;
  right: 15px;
  content: "LOGIN";
  color: white;
  font-size: 0px;
}

.actionbutton:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.5s;
}
#carrinho::before {
  position: absolute;
  bottom: -20px;
  right: 15px;
  content: "LOGIN";
  color: white;
  font-size: 0px;
}
/*///////////////////// MENU //////////////////////*/
.menu{
  display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
  position: fixed;
  justify-content: space-around;
  align-items: center; 
  align-content: center;
  justify-items: center; 
  top: 6vh;
  width: 100%;
  height: 4.5vh;
  left: 0;
  padding: 5px;
  border: 1px solid #7e4e1881;
  background-color: #e8decd;
  animation: 3s ease-in-out;
  z-index: 5;
   
}
.menu>a{ 
    text-decoration: none;
    color: #7e4f18;
    font-size: 20px;
    font-weight: lighter;
}
.menu>a:hover{
 width: 150px;
  height: 5vh;
  color: #bd8305;;
  background: #efeae1dc;
  transition: width 3.5s;
  display: flex;
  align-items: center;
  justify-content: space-around;;
  border: 1px solid #7e4f18;
  z-index: 10;
}
.menu>a:active{
  background: #523503;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}
/* From Uiverse.io by KlaujonRuamni */ 
button {
  width: 50vh;
  height: 50px;
  border: 3px solid #ecac3d;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  color: #e6b345;
  background: #7e4f18;
  font-size: 1.2em;
  font-weight: 550;
  padding: 1px 15px;
}

button:hover {
  background: #cda35b;
  color: #391300;
  font-size: 1.5em;
}

/*///////////////////// RODAPÉ //////////////////////*/
.rodape {
  position: absolute;
    width: 100%;
    background-image: linear-gradient(to right, #391300, #442c08f9, #391300);
    color: #e6b345;
    display: flex;
    align-items: center;
    justify-content: center;
}